### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [21]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [40]:
purchase_data["Age"].unique()
#purchase_data["Age"].max()

array([20, 40, 24, 23, 22, 36, 35, 21, 30, 38, 29, 11,  7, 19, 37, 10,  8,
       18, 27, 33, 32, 25, 12, 34, 17, 15, 13, 26, 16, 28, 31, 39, 44, 41,
        9, 14, 42, 43, 45], dtype=int64)

## Player Count

* Display the total number of players

In [23]:
# purchase_data.describe()
demographics = purchase_data.loc[:, ["SN","Age","Gender"]]
# before = demographics["SN"].count()
demographics = demographics.drop_duplicates()
players_count = demographics["SN"].count()
# print(before, after, after-before)
pd.DataFrame({"Total Players":[players_count]})

   Total Players
0            576

In [24]:
# purchase_data.index

In [25]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [26]:
# purchase_data.count

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
#Run basic calculations to obtain number of unique items, average price, etc.
Average_Price = purchase_data.Price.mean()
Total_Price = purchase_data.Price.sum()
Total_Purchases = purchase_data["Price"].count()
Item_Count = len(purchase_data["Item ID"].unique())

#Create a summary data frame to hold the results
purchase_summary = pd.DataFrame({"Number of Unique Items":Item_Count,
                                 "Average Price":[Average_Price],
                                 "Number of Purchases":[Total_Purchases],
                                 "Total Revenue":[Total_Price]})
purchase_summary.head()

#Optional: give the displayed data cleaner formatting


#Display the summary data frame

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [28]:
total_demographics = demographics["Gender"].value_counts()
print(total_demographics)
demographics_percentage = total_demographics/players_count * 100
demographics_percentage
# demographics_percentage

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [29]:
genderdf =  pd.DataFrame({"Total Count":total_demographics,
                          "Percentage of Players":demographics_percentage})
genderdf
#what is the percentage formula???***

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [37]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
total_purchase_gender = purchase_data.groupby(["Gender"]).Price.sum()
average_purchase_gender = purchase_data.groupby(["Gender"]).Price.mean()
purchase_count = purchase_data.groupby(["Gender"]).Price.count()
average_total_per_person = total_purchase_gender / genderdf["Total Count"]


print(total_purchase_gender)
print(average_purchase_gender)
print(purchase_count)
#Create a summary data frame to hold the results
#Optional: give the displayed data cleaner formatting
#Display the summary data frame

gender_purchase_summary = pd.DataFrame({"Purchase Count":purchase_count,
                                       "Average Purchase":average_purchase_gender,
                                       "Total Purchase Value":total_purchase_gender,
                                       "Average Total Purchase per Person":average_total_per_person})
gender_purchase_summary

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64
Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64
Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

,Purchase Count,Average Purchase,Total Purchase Value,Average Total Purchase per Person
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [51]:
# Establish bins for ages
age_bins = [ 0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 9999]
group_age_names = [ "<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
print(group_age_names, age_bins)

# Categorize the existing players using the age bins. Hint: use pd.cut()

purchase_data["Age Range"] = pd.cut(purchase_data["Age"],age_bins,labels=group_age_names)
purchase_data

# Calculate the numbers and percentages by age group

age_group = purchase_data.groupby("Age Range")
total_count_of_age = age_group["SN"].nunique()
total_count_of_age
percentage_of_players = (total_count_of_age/players_count) * 100
percentage_of_players

# Create a summary data frame to hold the results

agedf = pd.DataFrame({"Total Count":total_count_of_age,
                     "Percentage of Players":percentage_of_players})
agedf


# Optional: round the percentage column to two decimal points
# Display Age Demographics Table

['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+'] [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 9999]

           Total Count  Percentage of Players
Age Range
<10                 17               2.951389
10-14               22               3.819444
15-19              107              18.576389
20-24              258              44.791667
25-29               77              13.368056
30-34               52               9.027778
35-39               31               5.381944
40+                 12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [53]:
#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
#Purchase Count Age
total_count_age = age_group["Purchase ID"].count()

#Average Purchase Price
average_purchase_age = age_group["Price"].mean()


#Total Purchase Value
total_purchase_age = age_group["Price"].sum()

#Average Purchase Total per Person by Age Group
average_purchase_total_age = total_purchase_age/total_count_of_age

#DF
purchasing_age_df = pd.DataFrame({"Purchase Count":total_count_age,
                      "Average Purchase Price":average_purchase_age,
                      "Total Purchase Value":total_purchase_age,
                      "Average Total per Person":average_purchase_total_age})
purchasing_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total per Person
Age Range,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80